body{
    font-family:Open Sans,Microsoft JhengHei,sans-serif;
}


.header{
    height:70px;
    letter-spacing: 3px;
    position: absolute;
}
.p-notify{
    display: flex;
    align-self: center;
}
.btn-notify{
    height: 40px;    
}

.btn-notify:hover{
    border-color: blue;
    background-color: white;
    color: blue;
}

.close {
    position: absolute;
    width: 12px;
    height: 12px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
 
    content: ' ';
    height: 12px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }