body {
  font-family: Open Sans, Microsoft JhengHei, sans-serif;
}

/* width */
#mySidenav::-webkit-scrollbar {
  width: 5px;
  
}


 
/* Handle */
#mySidenav::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143); 
}

/* Handle on hover */
#mySidenav::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555; 
}


/* top part where onclick will disappear */
.header {
  height: 70px;
  letter-spacing: 3px;
}
.p-notify {
  display: flex;
  align-self: center;
}
.btn-notify {
  height: 40px;
  margin-left: 5px;
}

.btn-notify:hover {
  border-color: blue;
  background-color: white;
  color: blue;
}

.close {
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.3;
  margin-left: 920px;
  margin-top: 12px;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;

  content: " ";
  height: 12px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* the sidenav part */
.sidebtn{
    margin-left: 28px;
}

.sidebtn:hover {
  transform: scale(1.6);
  transition: all 0.25s;
  cursor: pointer;
}
.sidenav-fixed{
  background-color: #111;
  width: 50px;
  display: flex;
  flex-direction:column;
  align-items: center;
 flex-wrap: nowrap;
 position: fixed;
  left: 0;
}

.sidenav-logo a{
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  transition: 0.25s;
}

.sidenav-logo a:hover{
  transform: scale(1.5);
  transition: 0.25s;
  overflow: hidden;
}
.sidenav-bottom{
  padding-bottom: 80px;
}

.logo-sticky{
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.sticky-container{
  width: 230px;
  background-color:black;
  height: 60px;
  padding-top:24px;
  padding-left:10px;
  padding-bottom: 60.5px;
}

/* sidenav which will pop out */
.sidebtn-collapse{
    margin-left: 202px;
    margin-top: -25px;
    position: absolute;
}
.sidebtn-collapse:hover{
    transform: scale(1.6);
    transition: all 0.25s;
    cursor: pointer;
}

.sidenav-logo-collapse a{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    transition: 0.25s;
    
}

.sidenav-logo-collapse p{
  margin-left: 12px;
  margin-bottom:0px;
  letter-spacing: 2px;
}


.sidenav-logo-collapse i{
    padding-right: 20px;
} 

.dq-sm-logo{
    margin-bottom: 30px;
}
.dq-lg-logo{
    margin-left: 10px;
}




.sidenav-collapse{
    margin-left: 10px;
}


.text-info{
  transition: 0.25s;
}
.logo-white{
  transition: 0.25s;
}

.sidenav-logo-collapse-a p{
  transition: 0.25s;
}

.sidenav-logo-collapse-a:hover > p {
  transform: translateX(20px);
  transition: 0.25s;
}

.sidenav-logo-collapse-a:hover > .text-info {
  transform: scale(1.5);
  transition: 0.25s;
}

.sidenav-logo-collapse-a:hover > .logo-white {
  transform: scale(1.5);
  transition: 0.25s;
}

.sidenav-collapse-bp{
margin-left: 0px;
margin-bottom: 0px;
padding-left:10px;
padding-top: 2px;
padding-bottom:2px;
font-size: 13px;
letter-spacing: 3px;
}

.new-par{
margin-top:20px;
}

.new-par em{
  font-size: 10px;
  margin-left:10px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  padding: 2px;
  text-shadow: 1.5px 2px black;
}
.new-par p{
  font-size: 15px;
  letter-spacing: 2px;
  margin-left:10px ;
}

.sidenav-img{
  width: 230px;
  height: 120px;
  margin-bottom:3px;
}



.sidenav-img-1{
  background-image: url(/images/sidenav/sidenav1.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.sidenav-img-2{
  background-image: url(/images/sidenav/sidenav2.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.sidenav-img-3{
  background-image: url(/images/sidenav/sidenav3.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.sidenav-img-4{
  background-image: url(/images/sidenav/sidenav4.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.sidenav-img-5{
  background-image: url(/images/sidenav/sidenav5.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

.sidenav-img-6{
  background-image: url(/images/sidenav/sidenav6.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom:20px;
}



.sidenav-collapse-middle a p{
  font-size: 13px;
  letter-spacing: 1px;
  display: flex;
  justify-content: start;
  padding-top: 95px;
  padding-left:10px ;
  color: white;
  text-shadow: 1px 1px black;
  transition: 0.25s;
  overflow: hidden;
}

.sidenav-collapse-middle a:hover > p{
  transform: translateY(-20px);
  transition: 0.25s;
}


/* Sidenav dropout */
.dropout:hover > .dropout-item{
  visibility:visible ;
}
.dropout:hover > .dropout-item2{
  visibility:visible ;
}

.sidenav-overflow{
  position: relative;
}

.dropout-item{
  position: absolute;
  margin-left:200px;
  padding:3px ;
  overflow: visible;
  background-color: rgb(31, 31, 31);
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  visibility: hidden;
  max-width: 150px;
}

.dropout-triangle{
  position: absolute;
  content: "";
  width: 0;
height: 0;
margin-left:-12px ;
margin-top:5px;
border-style: solid;
border-width: 5px 10px 5px 0;
border-color: transparent #000000 transparent transparent;

}

.dropout-text{
  font-size: 15px;
  letter-spacing: 2px;
}

.dropout-item2{
  position: fixed;
  margin-left:240px;
  padding:3px ;
  overflow: visible;
  background-color: rgb(31, 31, 31);
  border: 2px solid rgb(31, 31, 31);
  border-radius: 3px;
  visibility: hidden;
  max-width: 170px;
}

.dropout-triangle2{
  position: absolute;
  content: "";
  width: 0;
height: 0;
margin-left:-12px ;
margin-top:20px;
border-style: solid;
border-width: 5px 10px 5px 0;
border-color: transparent #000000 transparent transparent;

}




/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav-top a{
    font-size: 18px;
}
/* The navigation menu links */
.sidenav a {
  
  text-decoration: none;

 
  display: block;
 
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
