body {
  font-family: Open Sans, Microsoft JhengHei, sans-serif;
}

.header {
  height: 70px;
  letter-spacing: 3px;
}
.p-notify {
  display: flex;
  align-self: center;
}
.btn-notify {
  height: 40px;
  margin-left: 5px;
}

.btn-notify:hover {
  border-color: blue;
  background-color: white;
  color: blue;
}

.close {
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.3;
  margin-left: 920px;
  margin-top: 12px;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;

  content: " ";
  height: 12px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.sidebtn{
    margin-left: 28px;
}

.sidebtn:hover {
  transform: scale(1.6);
  transition: all 0.25s;
  cursor: pointer;
}

.sidebtn-collapse{
    margin-left: 215px;
}
.sidebtn-collapse:hover{
    transform: scale(1.6);
    transition: all 0.25s;
    cursor: pointer;
}

.sidenav-logo-collapse a{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    transition: 0.25s;
}

.sidenav-logo-collapse i{
    padding-right: 20px;
} 

.dq-sm-logo{
    margin-bottom: 30px;
}
.dq-lg-logo{
    margin-left: 10px;
}


.sidenav-fixed{
    background-color: #111;
    width: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
   flex-wrap: nowrap;
}

.sidenav-logo a{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    transition: 0.25s;
}

.sidenav-logo a:hover{
    transform: scale(1.5);
    transition: 0.25s;
    overflow: hidden;
}

.sidenav-collapse{
    margin-left: 10px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav-top a{
    font-size: 18px;
}
/* The navigation menu links */
.sidenav a {
  
  text-decoration: none;

 
  display: block;
 
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
